---
# null
---
<html>

<head>
  <title>Amoveo Difficulty</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="container">
<ul>
  {% include menu.html %}
   <li><a href="/index-dark.htm">&#9790; Dark Mode</a></li>
</ul>
  {% include ann.html %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/stock/indicators/indicators.js"></script>
  <script src="hc.js"></script>
</div>

{% include footer.html %}


