  <li><a class="active" href="#">Home</a></li>
  <li><a href="http://veoscan.io/txs">Explorer</a></li>
  <li><a href="http://veoscan.io">Nodes</a></li>
  <li><a href="http://veoscan.io/holders">Holders</a></li>
  <li class="dropdown">
	<a href="javascript:void(0)" class="dropbtn">GitHub</a>
	<div class="dropdown-content">
		<a href="https://github.com/zack-bitcoin/amoveo">Node</a>
		<a href="https://github.com/zack-bitcoin/amoveo-exchange">Exchange</a>
		<a href="https://github.com/PhamHuong92/VeoMiner/releases">VeoMiner (PhamHuong) - Nvidia/AMD</a>
		<a href="https://github.com/Mandelhoff/AmoveoMinerGpuCuda/releases">AmoveoMiner (Mandelhoff) - Nvidia</a>
		<a href="https://github.com/krypdkat/AmoveoMinerMan/releases">Dkat's Miner - Nvidia</a>
	</div>
   </li>
  <li class="dropdown">
	<a href="javascript:void(0)" class="dropbtn">Social</a>
	<div class="dropdown-content">
		<a href="https://discord.gg/a52szJw">Discord</a>
		<a href="https://t.me/amoveo">Telegram</a>
		<a href="https://www.reddit.com/r/Amoveo/">Reddit</a>
		<a href="https://twitter.com/zack_bitcoin">Twitter</a>
	</div>
   </li>
   <li class="dropdown">
	<a href="javascript:void(0)" class="dropbtn">Pools</a>
	<div class="dropdown-content">
		<a href="http://159.65.120.84:8085/main.html">Zack (159.65.120.84)</a>
		<a href="http://159.89.106.253:8085/main.html">Zack 2 (159.89.106.253)</a>
		<a href="http://amoveopool2.com/pool">AmoveoPool2.com</a>
		<a href="http://veo.network/">Veo.network</a>
		<a href="http://amoveo.noncense.tech/">Amoveo.noncense.tech</a>
        <a href="http://114.215.136.52:8085/main.html">Amoveo 中国区矿池</a>
		<a href="https://amoveopool.io">Amoveopool.io: Amoveo中国矿池</a>
		<a href="http://veopool.pw/">Veopool.pw</a>
		<a href="https://veo.shit.fish/">Veo.shit.fish</a>
	</div>
   </li>
